## This is an example of a .env file for the backend.
NODE_ENV=development
PORT=Port
DATABASE_URL=DatabaseUrl
FRONTEND_URL =FrontendUrl
JWT_SECRET=JWT_SECRET
TEST_USER_EMAIL=test@test.com
TEST_USER_PASSWORD=123456