openapi: 3.0.0
info:
  version: 1.0.0
  title: API Gestion
  description: API de gestion des utilisateurs et des matières

servers:
  - url: http://localhost:3001

tags:
- name: Attendances
  description: Gestion des présencess
- name: Auth
  description: Authentification et inscription
- name: BlockNotes
  description: Gestion du bloc-notes personnel des utilisateurs
- name: Users
  description: Gestion des utilisateurs
- name: Subjects
  description: Gestion des matières


paths:

#################################{ ATTENDANCES }###########################################

  /api/attendances:

    post:
      tags:
        - Attendances
      summary: Créer une présence
      operationId: createAttendance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAttendance'
      responses:
        '201':
          description: Présence créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendance'

    put:
      tags:
        - Attendances
      summary: Mettre à jour une présence
      operationId: updateAttendance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAttendance'
      responses:
        '200':
          description: Présence mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendance'

    delete:
      tags:
        - Attendances
      summary: Supprimer une présence
      operationId: deleteAttendance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Présence supprimée

  /api/attendances/{type}/{id}:
    get:
      tags:
        - Attendances
      summary: Récupérer un utilisateur selon un type et un ID
      operationId: getAttendanceByTypeAndId
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            example: "(student, cours)"
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Utilisateur trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Utilisateur non trouvé

#################################{ AUTH }###########################################

  /api/auth/register:
    post:
      tags:
        - Auth
      summary: Inscrire un nouvel utilisateur
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Utilisateur créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Données manquantes (username, email ou password)
        '409':
          description: Username ou Email déjà utilisé

  /api/auth/login:
    post:
      tags:
        - Auth
      summary: Se connecter pour obtenir un token
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Connexion réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '400':
          description: Email ou mot de passe manquant
        '401':
          description: Identifiants invalides

#################################{ BLOCK-NOTES }###########################################

  /api/blocknotes/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        description: ID de l'utilisateur propriétaire du notepad
        schema:
          type: integer

    get:
      tags:
        - BlockNotes
      summary: Récupérer le notepad d'un utilisateur
      operationId: getOneBlockNote
      responses:
        '200':
          description: Notepad trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockNote'
        '404':
          description: L'utilisateur n'a pas encore de notepad

    post:
      tags:
        - BlockNotes
      summary: Créer l'unique notepad pour un utilisateur
      operationId: createBlockNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBlockNote'
      responses:
        '201':
          description: Notepad créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockNote'
        '409':
          description: Un utilisateur ne peut avoir qu'un seul notepad

    put:
      tags:
        - BlockNotes
      summary: Mettre à jour le contenu du notepad
      operationId: updateBlockNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBlockNote'
      responses:
        '200':
          description: Notepad mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockNote'
        '404':
          description: Notepad introuvable

    delete:
      tags:
        - BlockNotes
      summary: Supprimer le notepad
      operationId: deleteBlockNote
      responses:
        '204':
          description: Notepad supprimé avec succès
        '404':
          description: Rien à supprimer

#################################{ USERS }###########################################

  /api/users:
    get:
      tags:
        - Users
      summary: Récupérer tous les utilisateurs
      operationId: getAllUsers
      responses:
        '200':
          description: Liste des utilisateurs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

    post:
      tags:
        - Users
      summary: Créer un utilisateur
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        '201':
          description: Utilisateur créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/users/{type}/{id}:
    get:
      tags:
        - Users
      summary: Récupérer un utilisateur selon un type et un ID
      operationId: getUserByTypeAndId
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            example: "1"
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Utilisateur trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Utilisateur non trouvé

  /api/users/{id}:
    get:
      tags:
        - Users
      summary: Récupérer un utilisateur par ID
      operationId: getUserById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Utilisateur trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Utilisateur non trouvé

    put:
      tags:
        - Users
      summary: Mettre à jour un utilisateur
      operationId: updateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        '200':
          description: Utilisateur mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    delete:
      tags:
        - Users
      summary: Supprimer un utilisateur
      operationId: deleteUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Utilisateur supprimé


#################################{ SUBJECTS }###########################################

  /api/subjects:
    get:
      tags:
        - Subjects
      summary: Récupérer toutes les matières
      operationId: getAllSubjects
      responses:
        '200':
          description: Liste des matières
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subject'

    post:
      tags:
        - Subjects
      summary: Créer une matière
      operationId: createSubject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubject'
      responses:
        '201':
          description: Matière créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'

  /api/subjects/{id}:
    get:
      tags:
        - Subjects
      summary: Récupérer une matière par ID
      operationId: getSubjectById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Matière trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'
        '404':
          description: Matière non trouvée

    put:
      tags:
        - Subjects
      summary: Mettre à jour une matière
      operationId: updateSubject
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubject'
      responses:
        '200':
          description: Matière mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'

    delete:
      tags:
        - Subjects
      summary: Supprimer une matière
      operationId: deleteSubject
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Matière supprimée

#################################{ OTHERS }###########################################

components:
  schemas:
    # --- Modèles pour les Utilisateurs ---
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        type:
          type: string
    NewUser:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
        email:
          type: string
        type:
          type: string

    # --- Modèles pour les Présences ---
    Attendance:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        subjectId:
          type: integer
        date:
          type: string
          format: date-time
        status:
          type: string
    NewAttendance:
      type: object
      required:
        - userId
        - subjectId
      properties:
        userId:
          type: integer
        subjectId:
          type: integer
        status:
          type: string

    # --- Modèles pour les Matières ---
    Subject:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    NewSubject:
      type: object
      required:
        - name
      properties:
        name:
          type: string

# --- Modèles pour l'Authentification ---
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    RegisterRequest:
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        firstName:
          type: string
        lastName:
          type: string
        birthDate:
          type: string
          format: date
        address:
          type: string
        gradeId:
          type: integer
        roleId:
          type: integer

    AuthResponse:
      type: object
      properties:
        message:
          type: string
        token:
          type: string
        user:
          type: object
          properties:
            id:
              type: integer
            username:
              type: string
            email:
              type: string

# --- Modèles pour les BlockNotes ---
    BlockNote:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        title:
          type: string
          example: "Mes notes de cours"
        content:
          type: string
          example: "Contenu de la note..."
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    NewBlockNote:
      type: object
      properties:
        title:
          type: string
        content:
          type: string