openapi: 3.0.0
info:
  version: 1.0.0
  title: API Gestion
  description: API de gestion des utilisateurs et des matières

servers:
  - url: http://localhost:3001

tags:
- name: Users
  description: Gestion des utilisateurs
- name: Subjects
  description: Gestion des matières


paths:

#################################{ USERS }###########################################

  /api/users:
    get:
      tags:
        - Users
      summary: Récupérer tous les utilisateurs
      operationId: getAllUsers
      responses:
        '200':
          description: Liste des utilisateurs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

    post:
      tags:
        - Users
      summary: Créer un utilisateur
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        '201':
          description: Utilisateur créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/users/{type}/{id}:
    get:
      tags:
        - Users
      summary: Récupérer un utilisateur selon un type et un ID
      operationId: getUserByTypeAndId
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            example: "1"
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Utilisateur trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Utilisateur non trouvé

  /api/users/{id}:
    get:
      tags:
        - Users
      summary: Récupérer un utilisateur par ID
      operationId: getUserById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Utilisateur trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Utilisateur non trouvé

    put:
      tags:
        - Users
      summary: Mettre à jour un utilisateur
      operationId: updateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        '200':
          description: Utilisateur mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    delete:
      tags:
        - Users
      summary: Supprimer un utilisateur
      operationId: deleteUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Utilisateur supprimé


#################################{ SUBJECTS }###########################################

  /api/subjects:
    get:
      tags:
        - Subjects
      summary: Récupérer toutes les matières
      operationId: getAllSubjects
      responses:
        '200':
          description: Liste des matières
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subject'

    post:
      tags:
        - Subjects
      summary: Créer une matière
      operationId: createSubject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubject'
      responses:
        '201':
          description: Matière créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'

  /api/subjects/{id}:
    get:
      tags:
        - Subjects
      summary: Récupérer une matière par ID
      operationId: getSubjectById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Matière trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'
        '404':
          description: Matière non trouvée

    put:
      tags:
        - Subjects
      summary: Mettre à jour une matière
      operationId: updateSubject
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubject'
      responses:
        '200':
          description: Matière mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'

    delete:
      tags:
        - Subjects
      summary: Supprimer une matière
      operationId: deleteSubject
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Matière supprimée

#################################{ OTHERS }###########################################